article.search-result.row
  .col-xs-12.col-sm-12.col-md-3
    a.thumbnail(href=bar.url, title=bar.name)
      img(src=bar.rating_img_url, alt=bar.name + ' reputation')
      img(src=bar.image_url || "http://www.winesofchile.org/sites/default/files/no_image_available_10.png", alt=bar.name)
  .col-xs-12.col-sm-12.col-md-3
    ul.meta-search
      li
        i.glyphicon.glyphicon-globe
        - let city, address;
        if (bar.location.neighborhoods && bar.location.neighborhoods[0])
          -city = bar.location.neighborhoods[0];
        else
          -city = bar.location.display_address[1];
        if (bar.location.address && bar.location.address[0])
          -address = bar.location.address[0];
        else
          -address = bar.location.display_address[0];
        span #{city} - #{address}
      if bar.categories
        each category in bar.categories
          li
            i.glyphicon.glyphicon-tags
            span #{category[0]}
  .col-xs-12.col-sm-12.col-md-6
    h3
      a(href=bar.url, title=bar.name) #{bar.name}
    if (bar.snippet_text)
      p #{bar.snippet_text}
    else
      p No description.
    button.btn.btn-primary.btn-sm(id=bar.id)
      span.badge #{(usersGoing[bar.id] && usersGoing[bar.id].length) || 0}
      |   Going!
  span.clearfix.borda
